h1.padded,
h2.padded,
h3.padded,
h4.padded,
h5.padded,
h6.padded {
	padding: 20px 0 20px 0;
}

body {
	padding-top: 60px;
}

.hero-unit h1.highlighted {
	color: #D80E6C;
}

.centered {
	text-align: center;
}
div.centered {
	margin-left: auto;
	margin-right: auto;
}

img.centered,
a.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.thumbnail img {
	height: 120px;
}

#logo-specialty {
	height: 200px;
}

#callWaiterWrapper {
	height: 104px;
	width: 104px;
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 1000;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

#callWaiterWrapper a {
	display: block;
	text-align: center;
	padding: 10px;
	font-family: inherit;
	font-size: 20px;
	text-decoration: none;
}