@model YouFood.Domain.Model.Corporate
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@*<ol>
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>@restaurant.Name
            <ul>
                @foreach (var zone in restaurant.Zones)
                {
                    <li>@zone.Name
                        <ul>
                            @foreach (var table in zone.Tables)
                            {
                                <li>@table.Id</li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
</ol>*@
