@model double
@{
    ViewBag.Title = "Checkout";
}

<div class="container">
    <div class="hero-unit">
        <h2>Merci d'avoir effectué votre commande.</h2>
        <p>Temps de préparation estimé: <strong>@Model minutes</strong></p>

        <a href="Index" class="btn btn-success btn-large">Revenir au choix des plats</a>
    </div>
</div>