@model int
@{
    ViewBag.Title = "Paypal";
}

<div class="container">
    <div class="hero-unit">
        <h1>Payer grâce à Paypal</h1>
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="business" value="75663_1340125328_biz@supinfo.com" />

            <input type="hidden" name="item_name" value="Panier" />
            <input type="hidden" name="amount" value="@Model" /> 
            <input type="submit" value="Payer" class="btn btn-primary"/>
        </form>
    </div>
</div>
